@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fc1312;
  --secondary: #000000;
  --light-clr: #f5f5f5;
  --color-light-gray: #626262;
  --color-f5f5: #F5F5F5;
  --color-paragraph: #656565;
  --cmn-border-color: #cccccc;

  --font-suisse-intl: "SuisseIntl", sans-serif;
  /* --text-12: clamp(0.60rem, 1.2vw + 0.35rem, 12px);
  --text-13: clamp(0.65rem, 1.4vw + 0.4rem, 13px);
  --text-14: clamp(0.70rem, 1.6vw + 0.4rem, 14px);
  --text-16: clamp(0.80rem, 2vw + 0.4rem, 16px);
  --text-17: clamp(0.85rem, 2.2vw + 0.1rem, 17px);
  --text-18: clamp(0.90rem, 2.3vw + 0.45rem, 18px);
  --text-19: clamp(0.95rem, 1.4vw + 0.1rem, 19px);
  --text-20: clamp(1rem, 2.8vw + 0.45rem, 20px);
  --text-24: clamp(1.20rem, 3vw + 0.5rem, 24px);
  --text-25: clamp(1.25rem, 4vw + 0.5rem, 25px);
  --text-26: clamp(1.25rem, 3.4vw + 0.5rem, 26px);
  --text-28: clamp(1.3rem, 3.6vw + 0.5rem, 28px);
  --text-29: clamp(1.35rem, 3.8vw + 0.5rem, 29px);
  --text-32: clamp(1.36rem, 3vw + 0.1rem, 32px);
  --text-36: clamp(1.60rem, 4.2vw + 0.5rem, 36px);
  --text-40: clamp(1.70rem, 4.5vw + 0.5rem, 40px);
  --text-45: clamp(1.80rem, 5vw + 0.5rem, 45px);
  --text-48: clamp(1.85rem, 5.2vw + 0.5rem, 48px);
  --text-50: clamp(1.9rem, 5.5vw + 0.5rem, 50px);
  --text-60: clamp(1.9rem, 3vw + 0.5rem, 60px);
  --text-70: clamp(2.20rem, 4vw + 0.1rem, 70px); */

  /* Small sizes */
  --text-12: clamp(0.60rem, 0.3vw + 0.5rem, 12px);
  --text-13: clamp(0.65rem, 0.35vw + 0.52rem, 13px);
  --text-14: clamp(0.70rem, 0.4vw + 0.54rem, 14px);
  --text-16: clamp(0.80rem, 0.5vw + 0.58rem, 16px);
  --text-17: clamp(0.85rem, 0.55vw + 0.59rem, 17px);
  --text-18: clamp(0.90rem, 0.6vw + 0.6rem, 18px);
  --text-19: clamp(0.95rem, 0.65vw + 0.61rem, 19px);
  --text-20: clamp(1rem, 0.7vw + 0.63rem, 20px);

  /* Medium sizes */
  --text-24: clamp(1.20rem, 0.9vw + 0.69rem, 24px);
  --text-25: clamp(1.25rem, 0.95vw + 0.71rem, 25px);
  --text-26: clamp(1.30rem, 1vw + 0.72rem, 26px);
  --text-28: clamp(1.40rem, 1.1vw + 0.76rem, 28px);
  --text-29: clamp(1.45rem, 1.15vw + 0.78rem, 29px);
  --text-32: clamp(1.5rem, 1.3vw + 0.83rem, 32px);

  /* Large sizes */
  --text-36: clamp(1.80rem, 1.5vw + 0.92rem, 36px);
  --text-40: clamp(2rem, 1.7vw + 1.03rem, 40px);
  --text-45: clamp(2.25rem, 2vw + 1.16rem, 45px);
  --text-48: clamp(2.40rem, 2.15vw + 1.23rem, 48px);
  --text-50: clamp(2.60rem, 2.25vw + 2.28rem, 50px);

  /* Extra large sizes */
  --text-60: clamp(3rem, 2.8vw + 1.52rem, 60px);
  --text-70: clamp(3.50rem, 3.4vw + 1.76rem, 70px);

  --spacing-30px: clamp(0.75rem, 1.5vw + 0.5rem, 30px);
  --spacing-35px: clamp(0.875rem, 1.5vw + 0.5rem, 35px);
  --spacing-50px: clamp(1.4rem, 10vw + 0.1em, 50px);

  --breakpoint-xs: 480px;
  --breakpoint-sm: 550px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1360px;
  --breakpoint-3xl: 1680px;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 550px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1360px;
  --breakpoint-3xl: 1680px;
}

@utility container {
  @apply mx-auto px-[15px];

  /* Set custom max-widths at each breakpoint */
  max-width: 100%;

  @media (width >=550px) {
    max-width: 520px;
  }

  @media (width >=640px) {
    max-width: 610px;
  }

  @media (width >=768px) {
    max-width: 738px;
  }

  @media (width >=900px) {
    max-width: 850px;
  }

  @media (width >=1024px) {
    max-width: 1000px;
  }

  @media (width >=1200px) {
    max-width: 1100px;
  }

  @media (width >=1360px) {
    max-width: 1300px;
  }

  @media (width >=1680px) {
    max-width: 1650px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-suisse-intl);
  --font-mono: var(--font-suisse-intl);
  --font-suisse-intl: var(--font-suisse-intl);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light-clr);

  --text-12: var(--text-12);
  --text-13: var(--text-13);
  --text-14: var(--text-14);
  --text-16: var(--text-16);
  --text-17: var(--text-17);
  --text-18: var(--text-18);
  --text-19: var(--text-19);
  --text-20: var(--text-20);
  --text-24: var(--text-24);
  --text-25: var(--text-25);
  --text-26: var(--text-26);
  --text-28: var(--text-28);
  --text-29: var(--text-29);
  --text-32: var(--text-32);
  --text-36: var(--text-36);
  --text-40: var(--text-40);
  --text-45: var(--text-45);
  --text-48: var(--text-48);
  --text-50: var(--text-50);
  --text-60: var(--text-60);
  --text-70: var(--text-70);

  --color-light-gray: var(--color-light-gray);
  --color-paragraph: var(--color-paragraph);

  --spacing-30px: var(--spacing-30px);
  --spacing-35px: var(--spacing-35px);
  --spacing-50px: var(--spacing-50px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-suisse-intl);
  font-size: var(--text-17);
  color: var(--color-paragraph);
}

@media (width < 1400px) {
  body {
    font-size: var(--text-16);
  }
}


.container {
  @apply px-[15px] mx-auto;
}

.nws-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

}

/* FEATURED CARD */


/* BUTTON */
.nws-btn {
  width: 100%;
  align-self: center;
  display: flex;
  text-align: center;

}

@media (min-width: 1024px) {
  .nws-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  /* FEATURED CARD */
  .nws-card:first-child {
    grid-column: span 2;
    grid-row: span 3;
  }

  .nws-card:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }

  .nws-card:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
  }

  /* RIGHT COLUMN STACK */
  .nws-card:not(:first-child) {
    grid-column: 3;
  }

  /* BUTTON */
  .nws-btn {
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    display: flex;
    text-align: center;
  }
}

/* CARD STYLES (optional) */
.nws-card {
  border: 1px solid #f0f0f0;
  color: black;
  position: relative;

  a {
    @apply text-primary;
  }
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nws-card:first-child .nws-content {
  display: grid;
  @apply p-4 xl:p-8;

  h3 {
    @apply text-20 xl:text-25 order-2;
  }

  .news-date {
    @apply flex items-center gap-2 text-white text-sm mb-3 bg-black px-4 py-2 w-fit rounded-sm;
  }

  .news-date p {
    text-align: right;
  }

  a {
    @apply font-light text-16 hover:bg-light border border-transparent hover:border-black hover:text-black transition-all duration-300 mt-4 order-1;
  }
}

.nws-card:first-child {
  @apply flex flex-col justify-between;
}

.nws-card:first-child .img-box img {
  height: 250px;

  @media (width >=1024px) {
    height: 350px;
  }
}

.nws-card:not(:first-child) .img-box {
  @apply h-full flex relative;

  /* border-radius: 10px; */
  .overlay {
    @apply absolute top-0 left-0 w-full h-full bg-black opacity-50 z-10;
  }
}

.nws-card:not(:first-child) .img-box img {
  @apply h-full flex;
  /* border-radius: 10px; */
}

.nws-card:not(:first-child) {
  @apply min-h-[250px] xs:max-h-[250px] lg:max-h-[350px];
}

.nws-card:not(:first-child) .nws-content {
  @apply absolute top-0 left-0 w-full h-full z-10 p-4 xl:p-8 flex flex-col;

  h3 {
    @apply text-white order-2 text-24 mt-4 max-w-[35ch];
  }

  .news-date {
    @apply flex items-center gap-2 text-white text-sm mb-3 w-fit rounded-sm p-0;
  }

  .news-date p {
    @apply text-white text-sm w-fit text-14;
  }

  a {
    @apply order-3 text-16 mt-auto w-fit bg-transparent border-2 border-white text-white px-4 py-2 hover:bg-light hover:text-black transition-all duration-300;
  }
}

@media (min-width: 1024px) {
  .nws-card:first-child .nws-content {
    grid-template-columns: repeat(4, 1fr);
    @apply p-4 xl:px-8 xl:pt-8 xl:pb-12 gap-2 xl:gap-4;

    h3 {
      grid-column: 1/4;
      grid-row: span 2;
    }

    p {
      grid-column: 1;
      grid-row: 1/2;
      text-align: left;
      @apply bg-secondary px-4 py-2 text-white w-fit h-fit;
    }

    a {
      grid-column: 4/5;
      grid-row: 3/4;
      text-align: right;
      font-weight: 300;
      @apply text-16 bg-primary text-white px-4 py-2 w-fit h-fit mt-auto ml-auto;
    }
  }

  .nws-card:first-child .img-box img {
    height: 550px;

  }

  .nws-card:not(:first-child) .img-box {
    @apply h-full;
  }

  .nws-card:not(:first-child) {
    @apply min-h-0
  }
}

.sp-py {
  @apply py-10 lg:py-16 xl:py-20 2xl:py-24;
}

.sp-pt {
  @apply pt-10 lg:pt-16 xl:pt-20 2xl:pt-24;
}

.sp-pb {
  @apply pb-10 lg:pb-16 xl:pb-20 2xl:pb-24;
}

.sp-my {
  @apply my-10 lg:my-16 xl:my-20 2xl:my-24;
}

.qhse-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;

  .qhse-item {
    @apply p-4 xl:p-8 bg-light;
  }

  .qhse-item:last-child {
    /* grid-column: span 3; */


  }
}

@media (min-width: theme(--breakpoint-md)) {
  .qhse-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: theme(--breakpoint-2xl)) {
  .qhse-grid {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }

  .qhse-grid .qhse-item:last-child {
    grid-column: span 3;

    p {
      @apply max-w-[47%]
    }
  }
}



/* select box styling */

/* Custom React Select Styling */

.custom-select__control {
  /* border: 1px solid #d1d5db !important; */
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgb(from var(--color-black) r g b / 0.2) !important;
  /* border-radius: 0.5rem !important; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  transition: all 0.2s !important;
  /* min-height: 44px !important; */
  background-color: white !important;
}

.custom-select__control:hover {
  border-color: #9ca3af !important;
}

.custom-select__control--is-focused {
  border-color: var(--color-paragraph) !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
  outline: none !important;
}

.custom-select__value-container {
  padding: 0.5rem 1rem !important;
}

.custom-select__placeholder {
  color: #6b7280 !important;
  font-size: 0.95rem !important;
}

.custom-select__single-value {
  color: var(--color-paragraph) !important;
  /* font-weight: 500 !important;  */
  font-size: 0.95rem !important;
}

.custom-select__indicator-separator {
  display: none !important;
}

.custom-select__dropdown-indicator {
  color: #6b7280 !important;
  transition: color 0.2s !important;
}

.custom-select__dropdown-indicator:hover {
  color: #000000 !important;
}

.custom-select__menu {
  border-radius: 0.5rem !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.02) !important;
  border: 1px solid #e5e7eb !important;
  overflow: hidden !important;
  margin-top: 0.5rem !important;
}

.custom-select__menu-list {
  padding: 0.2rem 0.3rem !important;
}

.custom-select__option {
  border-radius: 0.375rem !important;
  padding: 0.4rem 0.75rem !important;
  font-size: 0.875rem !important;
  cursor: pointer !important;
  transition: all 0.15s !important;
}

.custom-select__option--is-focused {
  background-color: #f3f4f6 !important;
}

.custom-select__option--is-selected {
  background-color: rgb(from var(--color-black) r g b / 0.8) !important;
  color: white !important;
}

.custom-select__option:active {
  background-color: #e5e7eb !important;
}

.cmn-select__control{
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  border-bottom:1px solid rgb(from var(--color-black) r g b / 0.2) !important;
  border-radius:0 !important;
  background-color:transparent !important;
  padding-left: 0 !important;
}
.cmn-select__indicator-separator{
  display:none !important;
}
.cmn-select__control--is-focused{
  border-bottom:1px solid rgb(from var(--color-black) r g b / 0.2) !important;
}
.cmn-select__control--menu-is-open{
  border-bottom:1px solid rgb(from var(--color-black) r g b / 0.2) !important;
}
.cmn-select .css-tj5bde-Svg{
  fill:rgb(from var(--color-black) r g b / 0.6) !important;
}
.cmn-select__value-container{
  padding-left: 0 !important;
}
.cmn-select__indicator{
  padding-right: 0 !important;
}

.cmn-select__menu {
  border-radius: 0.5rem !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.02) !important;
  border: 1px solid #e5e7eb !important;
  overflow: hidden !important;
  margin-top: 0.5rem !important;
}

.cmn-select__menu-list {
  padding: 0.2rem 0.3rem !important;
}

.cmn-select__option {
  border-radius: 0.375rem !important;
  padding: 0.4rem 0.75rem !important;
  font-size: 0.875rem !important;
  cursor: pointer !important;
  transition: all 0.15s !important;
}

.cmn-select__option--is-focused {
  background-color: #f3f4f6 !important;
}

.cmn-select__option--is-selected {
  background-color: rgb(from var(--color-black) r g b / 0.8) !important;
  color: white !important;
}

.cmn-select__option:active {
  background-color: #e5e7eb !important;
}
.cmn-select__control--is-focused {
  border-color: var(--color-paragraph) !important;
  box-shadow: none !important;
  outline: none !important;
}